[Unit]
Description=UsCmdRelay
After=network.target

[Service]
Type=simple
User=root
Group=root
ExecStart=/usr/bin/uscmdrelay --log=/var/log/uscmdrelay/uscmdrelay.log serve --host=0.0.0.0 --port=7777
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target